[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/praPR4"]
	path = external/praPR4
	url = git@github.com:praHand3D/praPR4.git
[submodule "external/praMath"]
	path = external/praMath
	url = git@github.com:praHand3D/praMath.git
